
/mf2005-SWR.vfproj.jdhughes.user
/gmg.vcproj.GS.jdhughes.user
/Debug
/Release
/x64
/*.user
*.u2d
*.suo
*.ncb
*.u2d
*.pyc
/Installation/mf2005-SWR_Installation.zip
/Installation/MODFLOW-NWT-SWR_TestProblems.zip
/TestProblems\MODFLOW-NWT\data_swr1/RunAllNWTSamples_ppython.bat
/src_nwt/gwf2mnw27_NWT.01.f
